a, a:focus, a:hover {
  color: rgb(80, 80, 80);
}

.menu_style {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.home_site_text {
  margin-top: 300px;
  margin-bottom: 300px;
}

.nav-link {
  color: rgb(0, 0, 0);
}

.bg-photo-main {
  background-image: url("photos/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 5.5em;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px black;
}

h1 span {
  color: rgb(255, 255, 255);
}

.description {
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px black;
}

.btn-warning {
  margin: 20px;
  font-weight: bold;
}

.tx_padding_15x {
  padding: 15% !important;
}

.flex_centered {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.min_hight_600 {
  min-height: 600px;
}

.bg_color {
  background-color: #fafafa;
}

.my_icon img {
  width: 100px;
  height: 100px;
}

.text-center p {
  margin: 30px;
}

.content-section-heading {
  padding: 30px 10px 0px 10px;
}

.content-section-heading h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.text-secondary {
  color: #ffcc00 !important;
}

@media(min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

@media(min-width: 992px) {
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
  }
}

.portfolio-item .caption .caption-content {
  margin: auto 50px 50px;
}

.portfolio-item .caption .caption-content h2 {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px #000000;
}

#googleMap {
  margin: auto;
  position: relative;
  width: 100%;
  height: 60vh;
}

a:hover {
  opacity: 0.4;
}

.table-hover {
  width: 50%;
}
